body{
    display: flex;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   


}
.Acueil{
    background: rgb(169, 231, 230);
    display: flex;
    position: relative;
    
    flex-direction: column;
    height: 350px;
    width: 550px;
      
}


.contener{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
   

}
div p{

    font-size: 34px;
    font-weight: bolder;
    margin: 10px;
}

div input{
    width: 120px;
    font-size: 30px;
    font-weight: bolder;
    border-radius: 10px;
    
}
p.score{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(134, 145, 134);
    font-size: 30px;
    font-weight: bolder;
  
    border-radius: 10px;
    
}
p.niveau{
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    font-size: 50px;
    font-weight: bolder;
    border-radius: 10px;
    

}
p.Chrono{
    display: flex;
    justify-content: center;
    align-items: center;
    background:rgb(242, 240, 239);
    font-size: 50px;
    font-weight: bolder;
    border-radius: 10px;
}

    .reglement  {
        position: absolute;
        right: 0;
        height: 100%;
        width: 100%;
        left: 0;
        background: rgba(0,0,0,0.3);
        display: flex;
        justify-content: center;
        align-items: center;
         
}
.enfant{
    height: 600px;
    width: 600px;
    border-radius: 5px;
    background: white;
    display: flex;
    justify-content: center;
}
.text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-align: center;
    
}
 

.submit{
    font-size: 25px;
    font-weight: bolder;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;

}

.submit:hover{
    background-color: green;
}